.addFormStyle {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80vw;
	margin-inline: auto;
	height: 100vh;
	flex-direction: column;
}

.header {
	color: white;
	margin-inline: auto;
	margin-block: 0px;
}
